@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-500px);
    }
    100% {
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(500px);
    }
    100% {
        transform: translate(0);
    }
}